:root {
  --ff-serif: "Roboto Slab", serif;
  --ff-sans: "Roboto", sans-serif;
  --fc-text: "3e3e3e";
}

body {
  font-family: var(--ff-sans);
  color: #3e3e3e;
}

h1,
h2,
a {
  font-family: var(--ff-serif);
}

p {
  line-height: 1.5;
}

.nav__link {
  font-size: 4rem;
}
