:root {
  --ff-serif: "Roboto Slab", serif;
  --ff-sans: "Roboto", sans-serif;
}

body {
  font-family: var(--ff-sans);
}

.header__bg,
.header__h2 {
  font-family: var(--ff-serif);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
}

.header {
  height: 609px;
  padding: 0 4em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bg {
  width: 75%;
  height: 65%;
  background: url(https://unsplash.it/1000/1000);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
  font-size: 4rem;
  padding: 0 0 1rem 1rem;
}
.header__bg h1 {
  font-size: 4rem;
  background: -webkit-linear-gradient(#eee 55%, #266288 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__intro {
  background: #fff;
  padding: 6rem;
  position: absolute;
  top: 0;
  right: 0%;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  min-height: 1000px;
  background: #266288;
  margin-top: -10rem;
}

.test {
  position: absolute;
  left: 5%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}