:root {
  --ff-serif: "Roboto Slab", serif;
  --ff-sans: "Roboto", sans-serif;
  --fc-text: "3e3e3e";
}

body {
  font-family: var(--ff-sans);
  color: #3e3e3e;
}

h1,
h2,
a {
  font-family: var(--ff-serif);
}

p {
  line-height: 1.5;
}

.nav__link {
  font-size: 4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3e3e3e;
}

#openMenu {
  display: none;
}

#openMenu:checked ~ nav {
  right: 0;
}

#openMenu:checked ~ .label .menu {
  background: #3e3e3e;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

#openMenu:checked ~ .label .menu .menu-icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.label {
  z-index: 99;
}

.menu {
  z-index: 9999;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  position: fixed;
  bottom: 10vw;
  right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  z-index: 99;
}
.menu-icon {
  width: 50%;
}

.nav {
  display: unset;
  position: fixed;
  right: -100%;
  width: 90vw;
  height: 100vh;
  background: #fff;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
  -webkit-box-shadow: -10px -1px 25px 0px rgba(62, 62, 62, 0.75);
          box-shadow: -10px -1px 25px 0px rgba(62, 62, 62, 0.75);
}
.nav__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-right: 1rem;
}

.list-item {
  text-align: right;
  padding: 1rem 0;
}

main {
  background: #02a6f2;
  min-height: 100vh;
  width: 100%;
  -webkit-box-shadow: 0px -1px 15px -3px rgba(62, 62, 62, 0.5);
          box-shadow: 0px -1px 15px -3px rgba(62, 62, 62, 0.5);
}
main section {
  padding: 2.5rem 0;
}

.portfolio {
  margin: 0 -1rem;
}
.portfolio * + * {
  margin-top: 1em;
}
.portfolio a {
  color: #fff;
}
.portfolio-item1 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(62, 62, 62, 0.8)), to(rgba(62, 62, 62, 0.8))), url(https://unsplash.it/1000);
  background: linear-gradient(0deg, rgba(62, 62, 62, 0.8), rgba(62, 62, 62, 0.8)), url(https://unsplash.it/1000);
}
.portfolio-item2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(62, 62, 62, 0.8)), to(rgba(62, 62, 62, 0.8))), url(https://unsplash.it/350/250);
  background: linear-gradient(0deg, rgba(62, 62, 62, 0.8), rgba(62, 62, 62, 0.8)), url(https://unsplash.it/350/250);
}
.portfolio-item3 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(62, 62, 62, 0.8)), to(rgba(62, 62, 62, 0.8))), url(https://unsplash.it/350/250);
  background: linear-gradient(0deg, rgba(62, 62, 62, 0.8), rgba(62, 62, 62, 0.8)), url(https://unsplash.it/350/250);
}
.portfolio-item4 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(62, 62, 62, 0.8)), to(rgba(62, 62, 62, 0.8))), url(https://unsplash.it/350/250);
  background: linear-gradient(0deg, rgba(62, 62, 62, 0.8), rgba(62, 62, 62, 0.8)), url(https://unsplash.it/350/250);
}
.portfolio-item {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio-item:hover {
  background-image: url(https://unsplash.it/900);
}
.portfolio-item:hover a {
  display: none;
}

.exp {
  margin: 0 -1rem;
  padding: 1rem;
  padding-left: 3rem;
  background: #fff;
  position: relative;
}
.exp__card {
  margin-top: 2rem;
}
.exp .timeline {
  width: 2px;
  height: 90%;
  background: #3e3e3e;
  position: absolute;
  left: 1.5rem;
  top: 3.5rem;
}
.exp .timeline::before {
  position: absolute;
  content: url(../img/icons/arrow.svg);
  height: 20px;
  width: 20px;
  left: -9px;
  top: -0.8rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body > * {
  padding: 0 1rem;
}

header {
  min-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header h1 {
  -webkit-animation: 2s ease-out 0s 1 slideOnLoad;
          animation: 2s ease-out 0s 1 slideOnLoad;
  position: relative;
  font-size: 7rem;
  position: fixed;
  z-index: -1;
}
header h1 span {
  -webkit-animation: 2s ease-out 0s 1 slideOnLoad2;
          animation: 2s ease-out 0s 1 slideOnLoad2;
  display: block;
  position: absolute;
  top: 60%;
}

@-webkit-keyframes slideOnLoad {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOnLoad {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideOnLoad2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOnLoad2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}