@import "font", "resets", "menu", "main";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body > * {
  padding: 0 1rem;
}

header {
  min-height: 20rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  & h1 {
    animation: 2s ease-out 0s 1 slideOnLoad;
    position: relative;
    font-size: 7rem;
    position: fixed;
    z-index: -1;

    & span {
      animation: 2s ease-out 0s 1 slideOnLoad2;
      display: block;
      position: absolute;
      top: 60%;
    }
  }
}

@keyframes slideOnLoad {
  0% {
    transform: translateY(-100%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideOnLoad2 {
  0% {
    transform: translateY(-100%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
