body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, ul {
  font-family: 'Noto Serif', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu_white {
  color: #fff;
}

.menu_black {
  color: #232323;
}

.header__link {
  color: #fff;
}

.header__link:hover {
  color: #d4d4d4;
}

.section__title:first-of-type {
  margin-top: 0;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: ease-in-out 250ms;
  transition: ease-in-out 250ms;
  scroll-behavior: smooth;
}

body {
  display: -ms-grid;
  display: grid;
  grid: 4.375rem 50vh 1fr / auto;
}

.nav {
  position: relative;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.nav__wrapper {
  padding: 0 2rem;
  height: 4.375rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 99;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.nav__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 .5em;
}

.nav__mobile {
  display: none;
}

.nav__icon {
  width: 5vw;
}

@media only screen and (max-width: 600px) {
  .nav__links {
    display: none;
  }
  .nav__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
  }
  #checkbox {
    display: none;
  }
  #checkbox:checked ~ .label {
    position: absolute;
    left: 50%;
    z-index: 99;
  }
  #checkbox:checked label svg {
    -webkit-filter: invert(100%) !important;
            filter: invert(100%) !important;
    display: none;
  }
  #checkbox:checked ~ .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 280px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    color: #fff;
  }
  #checkbox:checked .nav__link {
    margin-bottom: 2em !important;
    display: none !important;
  }
}

.header {
  background-image: linear-gradient(135deg, rgba(44, 0, 35, 0.8), rgba(117, 19, 93, 0.2)), url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__wrapper {
  padding: 0 1em .5em 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-left: 1em;
}

.section {
  padding: 2em;
}

.section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section__card {
  padding: .5em 1em;
  margin-bottom: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow: hidden;
  position: relative;
}

.section__card:hover {
  background-color: rgba(23, 23, 23, 0.01);
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
          box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}

.section__card:hover .card__text {
  color: #3b8bc0;
}

.section .card__bg {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  background-image: url(../img/card__bg.jpg);
  background-size: cover;
  background-position: left 10%;
}

.section__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding-bottom: .5em;
  border-bottom: 2px solid #232323;
}

.card__title {
  margin-bottom: 0;
}

.test-bg {
  background-color: rgba(23, 23, 23, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
/*# sourceMappingURL=style.css.map */