@import 'font', 'resets';

* {
    box-sizing: border-box;

    transition: ease-in-out 250ms;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid: 4.375rem 50vh 1fr / auto;
}

.nav {
    position: relative;

    transition: ease-in-out 500ms;


    &__wrapper {
        padding: 0 2rem;
        height: 4.375rem;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;

        z-index: 99;
    }

    &__links {
        display: flex;

        min-width: min-content;
    }

    &__link {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;

        padding: 0 .5em;
    }
    &__mobile{
        display: none;
    }
    &__icon {
        width: 5vw;
    }

}


@media only screen and (max-width: 600px) {
    .nav__links {
      display: none;
    }

    .nav__mobile {
        display: flex;
        z-index: 99;
    }
    #checkbox {
        display: none;
    }

    #checkbox:checked ~ .label {
        position: absolute;
        left: 50%;
        z-index: 99;

        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
    }

    svg:hover {
        // filter: invert(100%);  
          }


    #checkbox:checked label svg{
        // color: black !important;
        filter: invert(100%) !important;  
        display: none;
    }

    #checkbox:checked ~ .nav__links {
        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;

        position: fixed;
        top:0;
        right: 0;
        // bottom: 10%;
        height: 280px;
        // left: 60%;
        left: 0;

        background-color: rgba(0,0,0,.8);
        backdrop-filter: blur(10px);
        color: #fff;
   
      }
      #checkbox:checked .nav__link {
        margin-bottom: 2em !important;
        display: none !important;
   
      }
  }


.header {
    background-image:
    linear-gradient(135deg, rgba(44, 0, 35, 0.8), rgba(117, 19, 93, 0.2)),
    url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    &__wrapper {
        padding: 0 1em .5em 0;
    }

    &__list {
        display: flex;
    }

    &__item {
        margin-left: 1em;
    }
}

// main {
// }

.section {
    padding: 2em;

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    &__card {
        // width: 250px;
        // height: 75px;

        padding: .5em 1em;
        margin-bottom: .5em;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;


        overflow: hidden;
        position: relative;

        &:hover {
            background-color: rgba(23,23,23, .01);
            // color: #fff;

            border-radius: 25px;
            box-shadow: 4px 4px 10px rgba(23,23,23, .2);

            & .card__text {
                color: rgb(59, 139, 192);
                // font-weight: 700;
            }
        }
        &:hover .card__bg {
            // display: block;
        }
    }


    
    .card__bg {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 20px;
        background-image: url(../img/card__bg.jpg);
        background-size: cover;
        background-position: left 10%;
        // border-radius: 0 0 35px 35px;
    }

    // iframe {
    //     height: 200px;
    //     width: 200px;
    //     overflow: hidden;
    // }


    &__title {
        flex: 1 1 100%;

        padding-bottom: .5em;

        border-bottom: 2px solid #232323
    }
}

.card__title {
    margin-bottom: 0;

}

.test-bg {
    background-color: rgba(23,23,23, .8);
    backdrop-filter: blur(10px);
}

