* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    font-family: 'Open Sans', sans-serif;
}

.heading {
    grid-column: 1 / -1;
    font-family: 'David Libre', serif;
}

.card {
    text-align: center;
}

.card__img {
}

.card__name {
    margin: 0;
}

.card__desc {
    margin: 1em 0 3em 0;
}