* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 50vw;
    width: 50vw;
    
    display: grid;
    grid: 
        repeat(3, 1fr) /
        repeat(3, 1fr);
    /* grid-auto-flow: dense; */
}

.area {
    background-image: linear-gradient(45deg, black, white);
    position: relative;
    overflow: hidden;
}

.hover {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(23, 23, 23, .4);
    transition: ease-in-out 250ms;;
}

.area:hover > .hover{
    top:0;
}

.profile {
    background-image: url(profile.png);
    background-size: cover;
}